mercuryAirDropletTranslation.ipynb
siliconOilAirDropletTranslation.ipynb
siliconOilWaterDropletTranslation.ipynb
waterAirDropletTranslation.ipynb
with-rhoEquation-densityRatioInfluence.ipynb
with-rhoEquation-popinet2009.ipynb
with-rhoEquation-relaxedSAAMPLE-popinet2009.ipynb
without-rhoEquation-densityRatioInfluence.ipynb
without-rhoEquation-popinet2009.ipynb
